<!DOCTYPE html>
<html>
  <head>
    <title>Casey Gruppioni</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Bad+Script|Pacifico|Satisfy|Oswald" rel="stylesheet">
  </head>

  <body>
    <div class="header">
      <h1 class="full-name"><%= link_to "Casey Gruppioni", root_path %></h1>
      <div class="navbar">
        <span class="link"><%= link_to 'about', page_path('about') %></span>
        <span class="link"><%= link_to 'blog', posts_path %></span>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
